NEXT_PUBLIC_SUPABASE_URL=https://ahqmcapfixrblovsyaeb.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_MrrDJIEic8cii5wYjf-PWQ_VP8c9xtq
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
